.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.btn {
  width: 40vh;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
button {
  font-family: "Roboto", sans-serif;
  padding: 10px 30px;
  background-color: black;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
